name: remote ssh command
on:
  push:
    branches: ["main"]

jobs:
  deploy:
    name: deploy
    runs-on: self-hosted
    steps:
      - name: executing remote ssh commands using password
        run: sshpass -p "72749802" ssh nagarjunang@192.168.2.105
      - name: clone config repo
        run: git clone https://github.com/Madhvesh77/Lunch-reservation-env
      - name: check lunch-reservation
        run: cd Lunch-reservation-env && ls
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@0e613a0980cbf65ed5b322eb7a1e075d28913a83
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: ap-south-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@62f4f872db3836360b72999f4b87f1ff13310f3a
      - name: pull image
        run: docker pull ci-gurukul-team6-pair-ms
      - name: run container
        run: docker run -p 8080:8080 -d 331061725593.dkr.ecr.ap-south-1.amazonaws.com/ci-gurukul-team6-pair-ms:latest
      - name: exit
        run: exit

